black
sphinx
sphinx-material
coverage
isort
mypy
pylint
twine
wheel

# web app frameworks are used in ASGI middleware and unit tests to verify integration
aiohttp
aiohttp_basicauth
httpx  # provides fastapi with test client
fastapi
uvicorn
quart; python_version > '3.7'

# psutil is used by examples
psutil
