asynctest
black
sphinx
sphinx-material
coverage
isort[requirements_deprecated_finder]
mypy
pylint
twine
wheel

# web app frameworks are used in unit tests to verify integration
aiohttp
fastapi
uvicorn
quart

# psutil is used in example code
psutil
