asynctest
black
sphinx
sphinx-material
coverage
isort[requirements_deprecated_finder]
mypy
pylint
twine
wheel

# web app frameworks are used in ASGI middleware and unit tests to verify integration
aiohttp
fastapi
uvicorn
quart; python_version > '3.7'

# psutil is used in example code
psutil
